h5= Details

h3= data.Address
br
.row
    strong= "Schedule: "
    = data.Schedule
br
.row
    strong= "Products: " 
    = data.Products
br
.row
    a(href=data.GoogleLink)
        strong= "Google Maps"